.minha-cor {
  --background: orange;
}

#image-fullscreen, #fullscreen-image {
  background: radial-gradient(rgba(255, 165, 0), rgba(49, 49, 48));
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo horizontalmente */
}

.search-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}

.list {
  width: 100%;
  max-width: 580px; /* Define uma largura máxima para o search bar */
  border-color: rgba(255, 165, 0, 0.4);
}

.whatson {
  width: 100%;
  max-width: 580px;
  border-color: rgba(255, 165, 0, 0.4);
  margin-top: 10px;
}

ion-list {
  width: 100%;
  max-width: 580px;
}
